
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 180px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/signup logo.png" alt="signup logo" class="src">
                </div>

                <h1 class="text-center">Change Password </h1>

                <form (ngSubmit)="formSubmit()">
                    <!-- Password field -->
                    <mat-form-field class = "full-width" appearance="outline">
                        <mat-label>Enter Password!!</mat-label>
                        <input
                        [(ngModel)]="password"
                        name="password"
                        type="password"
                        required 
                        matInput placeholder="Enter Password!!">
                      </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field class = "full-width" appearance="outline">
                        <mat-label>Enter Confirm Password!!</mat-label>
                        <input
                        [(ngModel)]="confirmPassword"
                        name="confirmpassword"
                        type="password"
                        required 
                        matInput placeholder="Enter Confirm Password!!">
                      </mat-form-field>


                    <div class="container text-center mt20">
                        <button type="submit" mat-raised-button color="primary" >Change Password</button>
                    </div>
                </form>
            </mat-card>
            </div>   
        </div>
    </div>
</div>