<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <h1>Adding Question to <Span style="font-weight: bold;">{{title}}</Span> Quiz</h1>
                <mat-card-content>
                    <form class="mt20" (submit)="addQuestion()">
                        <!-- content field -->

                        <!-- <mat-form-field class="w100">
                            <mat-label>
                                Write question content
                            </mat-label>
                            <textarea 
                            name="content" 
                            id="content"
                            [(ngModel)]="questions.content"
                            matInput 
                            placeholder="Enter here!!" 
                            rows="8" 
                            required></textarea>
                        </mat-form-field> -->

                        <ckeditor [editor]="Editor" data="<p> Write your question here !!</p>"
                            name="content"
                            [(ngModel)]="questions.content"
                            ></ckeditor>


                        <!-- options -->
                        <div class="row">
                            <div class="col-md-6">
                                <!-- option 1                                -->
                                <mat-form-field class="w100">
                                    <mat-label>Enter Option 1</mat-label>
                                    <input 
                                    type="text" 
                                    [(ngModel)]="questions.option1"
                                    name="option1"
                                    id="option1"
                                    matInput 
                                    required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <!-- option 2 -->
                                <mat-form-field class="w100">
                                    <mat-label>Enter Option 2</mat-label>
                                    <input 
                                    type="text" 
                                    [(ngModel)]="questions.option2"
                                    name="option2"
                                    id="option2"
                                    matInput 
                                    required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- option 3                                -->
                                <mat-form-field class="w100">
                                    <mat-label>Enter Option 3</mat-label>
                                    <input 
                                    type="text" 
                                    [(ngModel)]="questions.option3"
                                    name="option3"
                                    id="option3"
                                    matInput 
                                    required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <!-- option 4 -->
                                <mat-form-field class="w100">
                                    <mat-label>Enter Option 4</mat-label>
                                    <input 
                                    type="text" 
                                    [(ngModel)]="questions.option4"
                                    name="option4"
                                    id="option4"
                                    matInput 
                                    required>
                                </mat-form-field>
                            </div>
                        </div>
                            <!-- answer -->
                            <mat-form-field class="w100">
                                <mat-label>Select Answer</mat-label>
                                <mat-select 
                                    [(ngModel)] = "questions.answer"
                                    name="answer"
                                    required>
                                    <mat-option *ngIf="questions.option1" [value]="questions.option1"> {{questions.option1}} </mat-option>
                                    <mat-option *ngIf="questions.option2" [value]="questions.option2"> {{questions.option2}} </mat-option>
                                    <mat-option *ngIf="questions.option3" [value]="questions.option3"> {{questions.option3}} </mat-option>
                                    <mat-option *ngIf="questions.option4" [value]="questions.option4"> {{questions.option4}} </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="container text-center">
                                <button mat-raised-button class="button"> Add</button>
                                <input mat-raised-button type="file" (change)="selectFile($event)"  name="file" id="file" >
                            </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

